/*
Background - #f1f2f6
Text - #12130f
Accent - #ff8600
*/
*{
    box-sizing: border-box;
}

body{
    color:#12130f;
    background-color:#f1f2f6;
}

nav{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,211,163,1) 100%); 
}

nav ul{
    font-size: 18;
}

.footer{  
    background: rgb(18,19,15);
    background: linear-gradient(180deg, rgba(18,19,15,1) 25%, rgba(150,79,0,1) 100%);  
    color:#f1f2f6;
    padding: 24px 0;
}

.footer a{
    text-decoration:none;
    color:#f1f2f6;
}

.footer a:hover{
    text-decoration: underline;
    color:#ff8600;
}